# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Local databases
*.db

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

quality_report.json